<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Companies</h4></div>
    <div class="panel-body">
        <p><input  placeholder="Search" class="form-control" type="text" ng-model="$ctrl.query"></p>
        <!-- companies -->
        <div ng-repeat="company in $ctrl.companies | filter:$ctrl.query" class="list-group">
            <a ng-click="$ctrl.select({_id: company._id, name: company.name})" class="list-group-item"
               ng-class="{active: $ctrl.activeCompany._id ===  company._id}">
                {{company.name}}
            </a>
        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-success" ng-click="$ctrl.openPostModal()">Add</button>
            </div>
            <div class="col-md-3" ng-if="$ctrl.activeCompany">
                <button type="button" class="btn btn-danger" ng-click="$ctrl.openDeleteModal()">Delete</button>
            </div>
        </div>
    </div>


</div>
