<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Company</div>
    <div class="panel-body">
        <p><input class="form-control" type="text"></p>
    </div>

    <!-- companies -->
    <div ng-repeat="company in $ctrl.companies" class="list-group">
        <a ng-click="$ctrl.select(company._id)" class="list-group-item"
           ng-class="{active: $ctrl.activeCompany === company._id}">
            {{company.name}}
        </a>
    </div>
    {{test}}
    <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.openDeleteModal()">Delete</button>
    <button type="button" class="btn btn-sm btn-primary" ng-click="$ctrl.openPostModal()">Add</button>
</div>
