<div ng-controller="HomeController as root" class="row">
    {{root.companyId}}
    <div class="col-md-6">
        <company companyId="root.companyId" on-company-change="root.companyId = $event.companyId"></company>
    </div>
    <div class="col-md-6">
        <department company="root.companyId"></department>
    </div>
</div>
<!--<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>-->
